body {
	width: 1000px;
	margin: 80px auto;
	/*text-align: center;*/
}

#title-bar .btn-group, #title-bar .dropdown{
	margin-right: 10px;
}

#title-bar a:hover, #title-bar a:focus {
    background-color: white;
    outline: none;
}

#editor-container {
	margin-top: 30px;
}

#title-input {
	border: none;
	outline: none;
	font-size: 28px;
    margin-bottom: 20px;
}

#editor :first-child {
    margin-top: 0;
}

#editor {
	height: 1000px;
	border: none;
	outline: none;
}

.modal-dialog label {
    color: #707070;
    font-weight: normal;
}

#editor img {
    vertical-align: bottom;
}

#editor .clear {
    clear: both
}



#editor table {
    border: 1;
    border-collapse: collapse;
}

#editor table td {
    width: 100px;
}

#editor h1{
    font-size: 24px;
}

#editor h2{
    font-size: 20px;
}

#editor h3, h4, h5, h6{
    font-size: 16px;
}

#editor blockquote {
    border-left: 5px solid rgb(238, 238, 238);
    padding: 10px 20px;
    font-size: 1em;
}

blockquote p {
    margin: 0;
    padding: 0;
}

blockquote p:not(:last-child) {
    margin-bottom: 10px;
}