body {
	width: 1700;
	margin: 0;
}

#main-container {
    white-space: nowrap;
    height: 1000px;
}

#main-container > div {
    vertical-align: top;
}

#side-menu {
    width: 200px;
    min-width: 200px;
    height: 100%;
    border-right: 1px solid #eee;
    display: inline-block;
}

#side-list {
    width: 200px;
    height: 100%;
    min-width: 200px;
    border-right: 1px solid #eee;
    display: inline-block;
}

#main-content {
    display: inline-block;
    width: 870px;
    height: 100%;
}

#editor-container {
    height: 100%;
}

#title-bar {
    display: none;
}

#title-input {
    border: none;
    outline: none;
    font-size: 28px;
    padding-left: 20px;
    line-height: 60px;
}

#editor {    
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    outline: none;
    height: 100%;
}

#title-bar .btn-group, #title-bar .dropdown{
	margin-right: 10px;
}

#title-bar a:hover, #title-bar a:focus {
    background-color: white;
    outline: none;
}

#actions {
    padding: 10px 0 10px 20px; 
    border-bottom: 1px solid #eee;
}

#save-note {
    margin-left: 10px;
}

#actions .btn, #actions .btn:hover, #actions .btn:focus {
    /*background-color: white;*/
    /*outline: none;*/
    /*border: none;*/
}

#editor p {
    /*margin-bottom: 10px;*/
}

img:hover {
    cursor: move;
}

#editor > :first-child {
    margin-top: 10px;
}

.modal-dialog label {
    color: #707070;
    font-weight: normal;
}

#editor img {
    vertical-align: bottom;
}

#editor .clear {
    clear: both
}

#editor ol, #editor ul {
    margin-top: 10px;
}

#editor table {
    border: 1;
    border-collapse: collapse;
    margin-top: 10px;
}

#editor table tr{
    height: 21px;
}

#editor table ol, #editor table ul {
    padding-left: 22px;
}

#editor table td {
    width: 60px;
    border: 1px solid rgb(221, 221, 221);
    padding: 7px 10px;
    vertical-align: top;
    text-align: left;
    position: relative;
}

#editor table div.resize {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor table td.head {
    background-color: rgb(240, 240, 240);
}

#editor td p {
    margin-top: 10px;
    margin-bottom: 0;
}

#editor td p:first-child {
    margin: 0;
}

#editor h1{
    font-size: 24px;
}

#editor h2{
    font-size: 20px;
}

#editor h3, h4, h5, h6{
    font-size: 16px;
}

#editor blockquote {
    border-left: 5px solid rgb(238, 238, 238);
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(247, 247, 247);
}

#editor p {
    margin: 10px 0 0;
}

#editor blockquote p {
    margin: 0;
    padding: 0;
}

blockquote p:not(:last-child) {
    margin-bottom: 10px;
}