body {
	margin: 0;
    width:100%;
    height:100%;
    padding: 0;
}

#main-container {
    white-space: nowrap;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
}

#notice {
	position: absolute;
	height: 100%;
    width: 100%;
	text-align: center;
}

#main-container #notice p {
    position: absolute;
    top: 50%;
	width: 100%;
    color: gray;
	transform: translate(0, -50%);
    text-align: center;
}

#main-container > div {
    vertical-align: top;
}

#side-menu {
    width: 250px;
    height: 100%;
    display: inline-block;
    overflow: scroll;
    background-color: rgb(246, 246, 246);
	position: fixed;
	padding-top: 8px;
	padding-bottom: 8px;
}

#side-resize {
	top: 0;
	right: -2.5px;
	bottom: 0;
	width: 5px;
	position: absolute;
	cursor: col-resize;
}

#main-content {
    float: left;
    display: inline-block;
    height: 100%;
    position: absolute;;
    right: 0;
    left: 250px;
    /*word-wrap: wrap;*/
    /*word-break: normal;;*/
    /*overflow-x: wrap;*/
}

#editor-container {
    min-height: 100%;
}

#editor {
    padding: 50px 90px 0 90px;
    border: none;
    outline: none;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    border-left: 1px solid #eee;
	white-space: normal;
	/* word-break: break-all; */
}

#editor > p, #editor > div, #editor > pre, #editor > table{
	margin: 8px 0;
}

img:hover {
    cursor: default;
}

#editor pre {
    tab-size: 4;
    margin-bottom: 0;
	margin: 6px 0;
	white-space: pre-wrap;
}

#editor a.code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
	text-decoration: none;
}

#editor a.math {
    color: #0f0f0f;
}

#editor a.file, #editor a.file:link, #editor a.file:active, #editor a.file:visited, #editor a.file:hover {
    color: #337ab7;
    text-decoration:none;
}

#editor a.link, #editor a.link:link, #editor a.link:active, #editor a.link:visited, #editor a.link:hover {
    color: #337ab7;
    text-decoration:none;
	cursor: pointer;
}

#editor > :first-child {
    margin-top: 10px;
}

.modal-dialog label {
    color: #707070;
    font-weight: normal;
}

#editor img {
    vertical-align: bottom;
}

#editor .clear {
    clear: both
}

#editor ol, #editor ul {
    margin-top: 10px;
    padding-left: 22px;
}

#editor table {
    border: 1px;
    border-collapse: collapse;
    margin: 10px 0;
	display: block;
}

#editor table tr{
    height: 21px;
}

#editor table tr:hover{
    /* background-color: rgb(245, 245, 245); */
}

#editor table th {
    font-weight: bold;
}

#editor table td {
    /* width: 120px; */
    border: 1px solid rgb(221, 221, 221);
    padding: 7px 10px;
    vertical-align: top;
    text-align: left;
    position: relative;
	white-space:pre-line;
	word-wrap: break-word;
    word-break: break-all;
}

#editor table div.resize {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor table td.head, #editor table tr.head td {
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

#editor td p {
    margin-top: 10px;
    margin-bottom: 0;
}

#editor td p:first-child {
    margin: 0;
}

#editor h1{
    font-size: 24px;
}

#editor h2{
    font-size: 20px;
}

body #editor-container #editor h1, h2, h3, h4, h5, h6{
    font-weight: bold;
	margin: 16px 0;
}

#editor h3, h4, h5, h6{
    font-size: 16px;
}

#editor blockquote {
    border-left: 5px solid rgb(238, 238, 238);
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px 0;
    background-color: rgb(247, 247, 247);
}

#editor p {
    line-height: 24px;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

#editor td p {
    margin: 0;
}

#editor blockquote p {
    margin: 0;
    padding: 0;
}

blockquote p:not(:last-child) {
    margin-bottom: 10px;
}
